
* { 
    box-sizing: border-box;
}


body { 
    background-color: rgb(8, 8, 8);
    color: rgb(233, 233, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container { 
    margin: 0px auto;
    
    width: 600px;
    padding: 10px;
}
 h1 { 
    text-align: center;
 }
img { 
    width: auto;
    height: 600px;
    border-radius: 15px;
    display: block;
    margin: 30px auto;
}

.description-container, .ingredients-container, .instructions-container { 
    
    padding: 10px;
    border-radius: 10px;
    
    background-color: rgb(19, 19, 19);
    margin-bottom: 10px;
}
li { 
    margin-bottom: 5px;
}